.jumbotron {
	background-color: #00B2EE;
	color: #fff;
	padding: 100px;
}
.jumbotron h1 a:link, .jumbotron h1 a:visited {
	color:#fff;
	text-decoration: none;
}
.navbar a:link, .navbar a:visited {
	color: #fff;
	font-weight: bold;
	margin-right: 10px;
}
body, h1, h2, h3 {
	font-weight: 300;
}