.jumbotron {
	background-color: #00B2EE;
	color: #fff;
	padding: 100px;
}
.jumbotron h1 a:link, .jumbotron h1 a:visited {
	color:#fff;
	text-decoration: none;
}
.navbar a:link, .navbar a:visited {
	color: #fff;
	font-weight: bold;
	margin-right: 10px;
}
body, h1, h2, h3 {
	font-weight: 300;
}
.topspace {
	margin-top: 10px;
}
.topspace-lg {
	margin-top: 50px;
}
.blue {
	color: #0099e5;
}
.red {
	color: #B20000;
}
.pink {
	color: #B20000;
}
.green {
	color: #006600;
}