body {
	font-size: 18px;
}
.navbar {
	background: #CB356B;
	background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);
	background: linear-gradient(to right, #BD3F32, #CB356B);
	border-radius: 0px;
	margin-bottom: 0px;
}
.jumbotron {
	background: #CB356B;
	background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);
	background: linear-gradient(to right, #BD3F32, #CB356B);
	color: #fff;
	padding: 100px;
}
.jumbotron h1 a:link, .jumbotron h1 a:visited {
	color:#fff;
	text-decoration: none;
}
.navbar a:link, .navbar a:visited {
	color: #fff;
	font-weight: normal;
	margin-right: 8px;
}
body, h1, h2, h3 {
	font-weight: 300;
}
.topspace {
	margin-top: 10px;
}
.topspace-lg {
	margin-top: 50px;
}
.blue {
	color: #0099e5;
}
.red {
	color: #B20000;
}
.pink {
	color: #B20000;
}
.green {
	color: #006600;
}