---
layout: default
---

<h2><i class="fa fa-cc-stripe blue"></i> Stripe</h2>
<ul class="list-unstyled">
  {% for post in site.categories.stripe %}
    <li>
      <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->
      <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
    </li>
  {% endfor %}
</ul>

<h2 class="topspace-lg"><i class="fa fa-graduation-cap red"></i> Other Tutorials</h2>
<ul class="list-unstyled">
  {% for post in site.categories.tutorials %}
    <li>
      <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->
      <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
    </li>
  {% endfor %}
</ul>